@use '../variables/variables' as var;
@use '../base/fonts';

*,*::after,*::before{
    @extend .ami-font-regular;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    // font-size: var.$html-font-size;
    font-size: var.$html-font-size;
}
body{
    overscroll-behavior-y: contain;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.swal2-popup.swal2-toast .swal2-title {
    font-size: 1.5rem !important;
}

