@use '../variables/colors' as color;

.ami-business-normal-color{
    color: map-get($map: color.$business-color , $key: 'normal')
}
.ami-business-bold-color{
    color: map-get($map: color.$business-color , $key: 'bold')
}

.ami-business-normal-bg-color{
    background: map-get($map: color.$business-color , $key: 'normal')
}
.ami-business-bold-bg-color{
    background: map-get($map: color.$business-color , $key: 'bold')
}

.ami-success-normal-color{
    color: map-get($map: color.$success-color , $key: 'normal')
}

.ami-success-normal-bg-color{
    background: map-get($map: color.$success-color , $key: 'normal')
}

.ami-warning-normal-color{
    color: map-get($map: color.$warning-color , $key: 'normal')
}

.ami-warning-normal-bg-color{
    background: map-get($map: color.$warning-color , $key: 'normal')
}

.ami-hotel-normal-color{
    color: map-get($map: color.$hotel-color , $key: 'normal')
}

.ami-hotel-normal-bg-color{
    background: map-get($map: color.$hotel-color , $key: 'normal')
}

.ami-text-color-black{
    color: map-get($map: color.$text-color, $key: 'black');
}

.ami-text-color-white{
    color: map-get($map: color.$text-color, $key: 'white');
}


