

.ami-my-10{
    margin: 1rem 0;
}
.ami-my-15{
    margin: 1.5rem 0;
}
.ami-my-20{
    margin: 2rem 0;
}

.ami-my-t-10{
    margin-top: 1rem;
}
.ami-my-t-15{
    margin-top: 1.5rem;
}
.ami-my-t-20{
    margin-top: 2rem;
}
.ami-my-t-40{
    margin-top: 4rem;
}

.ami-mx-e-10{
    margin-right: 1rem;
}
.ami-mx-e-15{
    margin-right: 1.5rem;
}
.ami-mx-e-20{
    margin-right: 2rem;
}