
<div class="ami-page-binnacle-history">

    <app-title class="ami-my-t-40" title="Masajes Agregados" ></app-title>

    <app-date-card></app-date-card>

    <div class="ami-warning-normal-bg-color ami-page-binnacle-history__total-day">
        <p>
            <span>Total del día: </span><span>{{ total().anami + total().hotel| currency: '':'symbol':'1.0-0' }}</span>
        </p>
    </div>
    <div class="ami-business-bold-bg-color ami-page-binnacle-history__total-day">
        <p>
            <span>Total Anami: </span><span>{{ total().anami | currency: '':'symbol':'1.0-0' }}</span>
        </p>
    </div>
    <div class="ami-text-color-white ami-hotel-normal-bg-color ami-page-binnacle-history__total-day">
        <p>
            <span>Total Hotel: </span><span>{{ total().hotel | currency: '':'symbol':'1.0-0' }}</span>
        </p>
    </div>

    <div class="ami-page-binnacle-history__list">
        @for (appointment of appointments().item; track $index) {
            <app-appointment-card [appointment]="appointment" ></app-appointment-card>
        }@empty {
            <p>
                <span>No hay masajes aun :c</span>
            </p>
        }
        <div class="ami-page-binnacle-history__footer">
            <app-button [props]="{
                type: 'button',
                value:'Limpiar día',
                color:'danger',
            }" (click)="clearDay()"></app-button>
        </div>
    </div>
    
</div>