
<div class="ami-page-binnacle-input">
    <div class="ami-page-binnacle-input-wrapper__logo">
        <img src="../../../assets/imgs/anami-logo.png" alt="Logo Anami">
    </div>
    <app-title title="Agregar Masaje" ></app-title>

    <app-date-card></app-date-card>

   <form [formGroup]="form" (submit)="save()">
        <app-input 
        [props]="{
            type: 'text',
            placeholder: 'Paciente',
        }"
        formControlName="patient"
        ></app-input>

        <app-input-select [props]="{
            label: durationOptions.setLabel(form.get('massageDuration')?.value, 'Duracion')(), 
        }" >
            <ng-container #option>
                @for (option of durationOptions.options(); track $index) {
                    <app-basic-option [option]="option" formControlName="massageDuration"></app-basic-option>
                }
            </ng-container>
        </app-input-select>

        <div class="ami-page-binnacle-input__combine-select">
            <app-input-select [props]="{
                label: nailOptions.setLabel(form.get('nailCutting')?.value, 'Corte de uñas')(), 
            }" >
                <ng-container #option>
                    @for (option of nailOptions.options(); track $index) {
                        <app-basic-option [option]="option" formControlName="nailCutting"></app-basic-option>
                    }
                </ng-container>
            </app-input-select>
            <app-input-select [props]="{
                label: facialOptions.setLabel(form.get('facialCleansing')?.value, 'Limpieza facial')(), 
            }" >
                <ng-container #option>
                    @for (option of facialOptions.options(); track $index) {
                        <app-basic-option [option]="option" formControlName="facialCleansing"></app-basic-option>
                    }
                </ng-container>
            </app-input-select>
        </div>
        <!-- <pre>{{form.value | json}}</pre> -->
        <app-button [props]="{ type:'submit', value: 'Guardar', color:'success' }" class="ami-my-10 ami-text-color-black"></app-button>
   </form>
</div>



