@use '../../../../variables/colors' as color;
@use '../../../../variables/variables' as var;

.ami-component-input-select{
    
    position: relative;
    .ami-component-input-select-input{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: map-get($map: color.$business-color, $key: "normal");
        height: 3.5rem;  
        font-size: 1.2rem;
    }
    .ami-component-input-select-input__option{
        &.active{
            height: 0;
            width: 0;
            position: absolute;
            * { display: none }
        }
        background-color: map-get($map: color.$business-color, $key: "light");
        border-bottom-left-radius: map-get($map: var.$border-radius, $key: "small");
        border-bottom-right-radius: map-get($map: var.$border-radius, $key: "small");
    }
}