
<section class="flowers">
    <img class="img-border-bottom" src="https://png.pngtree.com/png-clipart/20250104/original/pngtree-diagonal-orange-marigold-flower-arrangement-with-green-leaves-on-transparent-background-png-image_18733440.png" alt="">
    
    <div class="flowers-letter">
      <h1>Morcito <span (click)="toggleBlur()">🏵️</span></h1>
      <div class="text-wrapper" [class.blur]="isBlur()">
        @if(isBlur()){
          <div class="flower-in-blur">
            <img  src="/assets/imgs/yellow-flower.png" alt="">
          </div>
        }
        <p>
          Cada día a tu lado es mejor que el anterior. Me enamora tu forma de ser, cómo actúas, y la manera en que tratas a los demás.
        </p>
        <p>
          Me encanta que, con cada día que pasa, descubro algo nuevo de ti que me hace quererte aún más.
          Tu sonrisa, tu carita, tu pancita… amo cada parte de ti, exactamente como eres.
        </p>
        <p>
          Y aunque a veces no lo diga o no lo demuestre como debería… te amo profundamente, con todo mi corazón.
        </p>
        <p>
          Hoy, como muchos, es un día especial para ti, y aunque no esté contigo, estaré pensando en ti.
        </p>
        <p>
          Te amo.
        </p>
      </div>
    </div>
  </section>