.ami-layout-binnacle{
    min-height: 100vh;
    min-width: 100vw;
    .ami-layout-binnacle-wrapper{
        margin: auto;
        min-width: 20rem;
        max-width: 60rem;
        min-height: 100vh;
        main{
            height: calc(100vh - 6rem);
            padding: 0 3rem;
        }
        nav{
            height: 6rem;
        }
    }
}