.ami-page-binnacle-add{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .ami-layout-binnacle-add-wrapper__logo{
        height: 30vh;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 200px;
            }
    }
    app-date-card {
        margin-top: 2rem;
        width: 100%;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        .ami-page-binnacle-add__combine-select {
            display: flex;
            gap: 1rem;
            app-input-select {
                flex-grow: 1;
                width: 50%;
            }
        }
    }
}