@use '../../../../base';

.ami-page-binnacle-history{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    app-date-card {
        margin-top: 2rem;
        width: 100%;
    }
    .ami-page-binnacle-history__total-day{
        @extend .ami-card;
        p{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    .ami-page-binnacle-history__list{
        width: 100%;
        height: calc( 70vh - 20.5rem ) ;
        flex-grow: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .ami-page-binnacle-history__list-no-records{
            text-align: center;
        }
        .ami-page-binnacle-history__footer{
            width: 100%;
            display: flex;
            flex-direction: column;
            app-button{
                width: 100%; 
            }
        }
    }
    
}