$business-color:(
    'normal': #EBE5DF,
    'bold': #E0D9D2,
);

$success-color:(
    'normal': #A0E986,
);

$warning-color:(
    'normal': #EAE671,
);

$background-color:(
    'white': #FFFFFF
);

$text-color:(
    'dark': #000000
);