$business-color:(
    'light': #f7ece2,
    'normal': #EBE5DF,
    'bold': #E0D9D2,
);

$success-color:(
    'normal': #A0E986,
);

$warning-color:(
    'normal': #EAE671,
);

$background-color:(
    'white': #FFFFFF,
);

$text-color:(
    'black': #000000,
    'placeholder': #1a1919,
);