<div class="ami-component-binnacle-appointment-card ami-card">
    <p><span class="ami-font-bold">Paciente:</span></p>
    <div class="ami-component-binnacle-appointment-card__details">
        <div>
            <p><span>Duracion</span><span></span></p>
        </div>
        <div>
            <p><span>Limpieza</span><span></span></p>
        </div>
        <div>
            <p><span>Uñas</span><span></span></p>
        </div>
    </div>
    <div class="ami-component-binnacle-appointment-card__amounts">
        <div>
            <p><span>Hotel</span><span></span></p>
        </div>
        <div>
            <p><span>Anami</span><span></span></p>
        </div>
    </div>
    <div class="ami-component-binnacle-appointment-footer">
        <div class="ami-component-binnacle-appointment-card__total">
            <p><span class="ami-font-bold">Total: </span></p>
        </div>
        <div class="ami-component-binnacle-appointment-card__actions">
            <div>
                <img src="../../../../assets/icons/edit.svg" alt="Editar">
            </div>
        </div>
    </div>
</div>
